.drop-zone {
    border: 2px dashed #ccc;
    padding: 2%;
}

.dropped-item {
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1%;
}