<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ml-auto">
                <form>
                    <div class="form-group">
                        <label for="name">Formcontrol Name</label>
                        <input type="text" id="name" [(ngModel)]="name" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="label">Label of the field</label>
                        <input type="text" id="label" [(ngModel)]="label" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="value">Initial value (if any)</label>
                        <input type="text" id="value" [(ngModel)]="value" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="placeholder">Placeholder (if any)</label>
                        <input type="text" id="placeholder" [(ngModel)]="placeholder" class="form-control" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" [(ngModel)]="type" class="form-select" [ngModelOptions]="{standalone: true}">
                            <option value="text">text</option>
                            <option value="email">email</option>
                            <option value="number">number</option>
                            <option value="password">password</option>
                            <option value="date">date</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>