<h2 mat-dialog-title>Define the layout</h2>
<mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ml-auto">
                <form [formGroup]="layoutForm" (ngSubmit)="onSave()">
                    <label for="selectSize">Select Size:</label>
                    <select
                    id="selectSize"
                        class="form-select"
                        formControlName="size"
                    >
                        <option value="">Select Size</option>
                        <option *ngFor="let size of sizeList" value="{{size.id}}" id="{{size.id}}">
                        {{size.name}}
                        </option>
                    </select>
                    <label for="columnWidthSelector">Select Column Width</label>
                    <select
                        class="form-select"
                        id="columnWidthSelector"
                        formControlName="columnSize"
                    >
                        <option value="">Select Column Size</option>
                        <option *ngFor="let size of columnSizes" value="{{size}}" id="{{size}}">
                            {{size}}
                        </option>
                    </select>
                    <label for="layoutFormNumberInput">Select Number Of Feilds</label>
                    <input
                        type="number"
                        id="layoutFormNumberInput"
                        class="form-control"
                        formControlName="numberOfFields"
                    >
                    <br>
                    <button [disabled]="!layoutForm.valid" class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
